<?xml version="1.0"?>
<ruleset name="Salient Custom Elements">
	<description>WordPress Coding Standards for Salient Custom Elements.</description>

	<file>salient-custom-elements.php</file>
	<file>uninstall.php</file>
	<file>includes</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/tools/*</exclude-pattern>
	<exclude-pattern>*/languages/*</exclude-pattern>
	<exclude-pattern>*/.ci/*</exclude-pattern>

	<arg value="ps"/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/>

	<config name="testVersion" value="8.0-"/>

	<rule ref="WordPress-Extra">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="sce"/>
				<element value="SCE"/>
			</property>
		</properties>
	</rule>
</ruleset>
